html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    flex-direction: column;
}

main {
    background-color: white;
}

header {
    text-align: center;
}

footer {
    position: sticky;
}

.profilbar {
    width: 40%;
    height: 100%;
    float: left;
    top: 0;
    left: 0;
    background-color: #f8ecb86b;
    padding-top: 20px;
}

.content {
    float: right;
    width: 60%;
    background-color: lightgray;
    padding-top: 20px;
}

.experience-type {
    background-color: grey;
    border-radius: 30px;
    padding: 10px;
    margin: 30px;
}

.experience {
    background-color: darkgray;
}

.experience h1 {
    color: purple;
}