html,
body {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    flex-direction: column;
}

main {
    background-color: white;
    display: flex;
}

header {
    text-align: center;
}

footer {
    position: sticky;
}

.profilbar {
    width: 40%;
    max-width: 300px;
    flex: 1;
    height: 100%;
    background-color: #f8ecb86b;
    padding-top: 20px;
}

.content {
    margin-left: auto;
    padding-left: 20px;
    flex: 1;
    background-color: lightgray;
    padding-top: 20px;
}

.experience-type {
    background-color: grey;
    border-radius: 30px;
    padding: 10px;
    margin: 30px;
}

.experience {
    background-color: darkgray;
}

.experience h1 {
    color: purple;
}